<div class="wwn-kor game-license">
  <p class="wwn-kor game-license">
    이 비공식적 모듈은 Sine Nomine Publishing의 수 없는 세계(Worlds Without Number)가 필요합니다.
  </p>
  <p>
    Worlds Without Number은 Sine Nomine Publishing의 등록된 상표입니다.
  </p>
  <p>
    <a href="https://www.drivethrurpg.com/product/348791/Worlds-Without-Number">DrivethruRPG</a>에서 룰북을 구매하거나 <a href="https://sine-nomine-publishing.myshopify.com/collections/offset-print-books/products/worlds-without-number-offset-print">서적판</a>을 구매하세요.
  </p>
  <p>
      Foundry VTT 원저자 SobranDM. 한글화 및 이런저런 기능 변경 아큐.
  </p>
</div>
